# ¿Qué es el Algebra relacional y SQL?

El **álgebra relacional** es un ***lenguaje formal*** para expresar consultas sobre datos en forma de relaciones. Es una base teórica para los lenguajes de consulta de bases de datos relacionales, como SQL.

**SQL** (**S**tructured **Q**uery **L**anguage) es un lenguaje de consulta de bases de datos relacionales que se utiliza para recuperar, insertar, actualizar y eliminar datos de una base de datos. Es un ***lenguaje declarativo***, lo que significa que se centra en lo que se desea obtener, en lugar de en cómo obtenerlo.

## Componentes de SQL

- **Lenguaje de definición de datos (DDL):** Se utiliza para crear, modificar y eliminar tablas y relaciones en una base de datos.

- **Lenguaje de manipulación de datos (DML):** Se utiliza para recuperar, insertar, actualizar y eliminar datos de una base de datos.

- **Lenguaje de control de datos (DCL):** Se utiliza para conceder y revocar permisos de acceso a una base de datos.

## Beneficios de SQL:

- **Eficiencia:** SQL es un lenguaje muy eficiente, lo que lo hace ideal para trabajar con grandes cantidades de datos.

- **Flexibilidad:** SQL es un lenguaje muy flexible, lo que lo hace ideal para una amplia gama de aplicaciones.

- **Portabilidad:** SQL es un lenguaje portátil, lo que significa que se puede utilizar en diferentes plataformas y sistemas operativos.

# Bases de datos con Python

Para este ejercicio vamos a hacer uso de una base de datos llamada chinook.db, esta base de datos se encuentra en **SQLite**, y se encuentra almacenada en el repositorio oficial del curso en la carpeta de **database**.

Para visualizar los prints de una forma más elegante a la que nos da por defecto Python, vamos a hacer uso de una biblioteca que está en construcción llamada **ConsoleVerse**.

In [ ]:
# El primer paso es obtener la base de datos chinook de SQLite que se encuentra en el repositorio
!wget https://github.com/JuanS3/database-inter/raw/master/database/chinook.db

--2023-09-07 13:58:53--  https://github.com/JuanS3/database-inter/raw/master/database/chinook.db
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/JuanS3/database-inter/master/database/chinook.db [following]
--2023-09-07 13:58:53--  https://raw.githubusercontent.com/JuanS3/database-inter/master/database/chinook.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 884736 (864K) [application/octet-stream]
Saving to: ‘chinook.db’

chinook.db          100%[===================>] 864.00K  --.-KB/s    in 0.05s

2023-09-07 13:58:53 (15.7 MB/s) - ‘chinook.db’ saved [884736/884736]

In [ ]:
# El segundo paso es instalar la biblioteca que vamos a usar para la impresión de las tablas
# de una forma más elegante.
!pip install git+https://github.com/JuanS3/ConsoleVerse.git

Collecting git+https://github.com/JuanS3/ConsoleVerse.git
  Cloning https://github.com/JuanS3/ConsoleVerse.git to /tmp/pip-req-build-41c8am5j
  Running command git clone --filter=blob:none --quiet https://github.com/JuanS3/ConsoleVerse.git /tmp/pip-req-build-41c8am5j
  Resolved https://github.com/JuanS3/ConsoleVerse.git to commit 436fb84aa7be5a22853594242e25e3f57d2b1204
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: ConsoleVerse
  Building wheel for ConsoleVerse (setup.py) ... done
  Created wheel for ConsoleVerse: filename=ConsoleVerse-0.0.1-py3-none-any.whl size=26500 sha256=5520eee3d3dd1677fec0ae87df8c801c25881b513041a34ca21de571d09f6c18
  Stored in directory: /tmp/pip-ephem-wheel-cache-rqbrybcy/wheels/1c/b4/f7/a1864aeb92cc4887e200077744e8be537e532eb36527dbd685
Successfully built ConsoleVerse
Installing collected packages: ConsoleVerse
Successfully installed ConsoleVerse-0.0.1

In [ ]:
# De la biblioteca ConsoleVerse llamamos el paquete console
from consoleverse import console

In [ ]:
def print_table(
    values: list,
    header: list,
    style: str = 'dl',
    max_values: int = 10
    ) -> None:
    console.print_matrix(values[:max_values], header=header, color='', indexes=None, style=style)

In [ ]:
# Para la conexión de la base de datos de SQLite, vamos a hacer uso
# de la biblioteca llamada sqlite3
import sqlite3

conn = sqlite3.connect("chinook.db") # En este punto creamos la conexión a la base de datos
type(conn)

sqlite3.Connection

In [ ]:
# Una vez establecida la conexión, lo que procedemos a hacer es generar un cursor
# este es el que nos va a permitir generar consultas a la base de datos
cur = conn.cursor()
type(cur)

sqlite3.Cursor

In [ ]:
# Un pequeño ejemplo de como ejecutar Queries en la base de datos
cur.execute("SELECT * FROM albums")

In [ ]:
# Almacenando el resultado de la consulta
res = cur.execute("SELECT * FROM albums")
res

In [ ]:
# Traemos los valores del resultado de la consulta
values = res.fetchall()
values[:10]

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (7, 'Facelift', 5),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8)]

In [ ]:
# Identificamos las columnas de la tabla consultada
columns = tuple(name[0] for name in cur.description)
columns

('AlbumId', 'Title', 'ArtistId')

In [ ]:
# Imprimimos los valores como una tabla
print_table(values, columns)

                        AlbumId                                           Title                                          ArtistId
 ╔═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
 ║                         1                              For Those About To Rock We Salute You                              1                         ║
 ║                         2                                        Balls to the Wall                                        2                         ║
 ║                         3                                        Restless and Wild                                        2                         ║
 ║                         4                                        Let There Be Rock                                        1                         ║
 ║                         5                                            Big Ones                                             3                         ║
 ║                         6                                       Jagged Little Pill                                        4                         ║
 ║                         7                                            Facelift                                             5                         ║
 ║                         8                                         Warner 25 Anos                                          6                         ║
 ║                         9                                 Plays Metallica By Four Cellos                                  7                         ║
 ║                        10                                           Audioslave                                            8                         ║
 ╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

# Ejercicios

## 1. Conociendo la base de datos

Antes de poder sentarnos a realizar algún query, es necesario conocer la base de datos que tenemos, para el caso de las bases de datos en SQLite, podemos hacer uso de la herramienta [SQLite Viewer](https://inloop.github.io/sqlite-viewer/).

Realizar un listado de las tablas que tenemos y un ejemplo de los datos de cada tabla, como se hizo en el ejemplo anterior.

## 2. Filtro por titulos

De la tabla de albumns mostrar solo los titulos que tienen **Rock** en el nombre.

## 3. Más Filtros por titulos

De la tabla albumns mostrar solo los titulos que tienen **Rock** y **Play**

## 4. Más filtros por titulos

De la tabla Albumns mostrar solo los titulos que tienen **Rock** y **Play** o **wall**

## 5. Total de titulos

Basados en la tabla Albumns, indicar cuantos albumns hay en total, cuantos titulos iguales hay y la cantidad de titulos diferentes que hay registrados en la tabla.